<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="userMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Kategori</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/kategori/create"
        ><ion-icon name="add-circle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let k of kategori">
    <ion-item *ngIf="userKey === k.uid" routerLink="edit/{{ k.key }}">
      <ion-col size-md="6" size-xs="6"> {{ k.nama }} </ion-col>
      <ion-col size-md="6" size-xs="6"> Rp. {{ k.max }},- </ion-col>
    </ion-item>
    <!-- <ion-item routerLink="edit/2">
      <ion-col size-md="6" size-xs="6"> Hangout </ion-col>
      <ion-col size-md="6" size-xs="6"> Rp.100.000,- </ion-col>
    </ion-item> -->
  </ion-list>
</ion-content>
