<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="index"></ion-back-button>
        </ion-buttons>
        <ion-title> Lock Saldo </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form class="form" [formGroup]="createLockForm" (ngSubmit)="requestLock(createLockForm.value)">
        <ion-item>
            <ion-label position="floating" color="secondary">Tanggal selesai kunci</ion-label>
            <ion-datetime formControlName="dateLock" displayFormat="DD/MM/YYYY" max="2030"></ion-datetime>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.dateLock">
                <div class="error-message" *ngIf="createLockForm.get('dateLock').hasError(validation.type) && (createLockForm.get('dateLock').dirty || createLockForm.get('dateLock').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label position="floating" color="secondary">Total saldo</ion-label>
            <ion-input type="number" formControlName="saldoLock"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.saldoLock">
                <div class="error-message" *ngIf="createLockForm.get('saldoLock').hasError(validation.type) && (createLockForm.get('saldoLock').dirty || createLockForm.get('saldoLock').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label position="floating" color="secondary">Catatan</ion-label>
            <ion-input type="text" formControlName="catatanLock"></ion-input>
        </ion-item>

        <div class="mid">
            <ion-button class="submit-btn" type="submit" [disabled]="!createLockForm.valid">Submit</ion-button>
        </div>
        <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label>
    </form>
</ion-content>