<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/index"></ion-back-button>
        </ion-buttons>
        <ion-title>Riwayat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card class="card-parent">
            <ion-card class="card-half">
                <ion-item>
                    <div>
                        <ion-icon name="calendar"></ion-icon>
                    </div>
                    <ion-datetime placeholder="Mulai"></ion-datetime>
                </ion-item>
            </ion-card>
            <ion-card class="card-half">
                <ion-item>
                    <div>
                        <ion-icon name="calendar"></ion-icon>
                    </div>
                    <ion-datetime placeholder="Selesai"></ion-datetime>
                </ion-item>
            </ion-card>
        </ion-card>

        <ion-row>
            <ion-col size-md="6" size-xs="12">
                <ion-button type="submit" color="success" expand="block">Search</ion-button>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card class="card-parent">
        <ion-card class="card-partial ">
            <ion-item routerLink="/history"> Topup </ion-item>
        </ion-card>
        <ion-card class="card-partial">
            <ion-item routerLink="/history/history-pay"> Pay </ion-item>
        </ion-card>
        <ion-card class="card-partial">
            <ion-item routerLink="/history/history-lock"> Lock </ion-item>
        </ion-card>
    </ion-card>

    <ion-card>
        <ion-card-content style="padding-top: 1%">
            <ion-item *ngIf="LenIn == 0">Belum ada pemasukkan</ion-item>
            <ion-list *ngFor="let in of inShow">
                <ion-item>
                    <ion-label position="stacked">Top Up</ion-label>
                    <ion-datetime value="{{ in.tanggalTopUp }}" displayFormat="DD-MMM-YYYY"></ion-datetime>
                </ion-item>
                <ion-item>
                    {{ in.jumlahTopUp }},-
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>