<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/index"></ion-back-button>
        </ion-buttons>
        <ion-title>Riwayat Transfer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card class="card-parent">
            <ion-card class="card-half">
                <ion-item>
                    <div>
                        <ion-icon name="calendar"></ion-icon>
                    </div>
                    <ion-datetime placeholder="Mulai" [(ngModel)]="startDate" (ionChange)="loadResults()"></ion-datetime>
                </ion-item>
            </ion-card>
            <ion-card class="card-half">
                <ion-item>
                    <div>
                        <ion-icon name="calendar"></ion-icon>
                    </div>
                    <ion-datetime placeholder="Selesai" [(ngModel)]="endDate" (ionChange)="loadResults()"></ion-datetime>
                </ion-item>
            </ion-card>
        </ion-card>

    </ion-card>

    <ion-card class="card-parent">
        <ion-card class="card-partial ">
            <ion-item routerLink="/history"> Topup </ion-item>
        </ion-card>
        <ion-card class="card-partial">
            <ion-item routerLink="/history/history-pay"> Pay </ion-item>
        </ion-card>
        <ion-card class="card-partial">
            <ion-item routerLink="/history/history-lock"> Lock </ion-item>
        </ion-card>
    </ion-card>

    <ion-card>
        <ion-card-content style="padding-top: 1%">
            <ion-item *ngIf="LenOut == 0">Belum ada pengeluaran</ion-item>
            <ion-list *ngFor="let out of allPayment">
                <ion-datetime value="{{ out.paymentdate }}" displayFormat="DD-MMM-YYYY"></ion-datetime>
                <ion-item>
                    Virtual Account: {{ out.virtualacc }} <br> Nominal: Rp. {{ out.totalpayment }},-
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>