.card-partial {
    padding: 2px;
    float: left;
    width: 27%;
    text-align: center;
    align-items: center;
    border: 1px #ffffff;
    background-color: #4CAF50;
}

.card-parent {
    align-items: center;
    align-content: center;
}