<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/index"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Panduan Tambah Saldo
        </ion-title>

    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card color="light" *ngFor="let item of panduan; let i = index;">
        <ion-card-header type="button" (click)="toggleView(item)">
            <ion-icon name="arrow-down"></ion-icon>
            {{item.namaPanduan}}
        </ion-card-header>
        <ion-card-content *ngIf="item.showDetails">
            <ion-list>
                <p>{{item.deskripsiPanduan}}</p>
            </ion-list>

        </ion-card-content>
    </ion-card>
</ion-content>