<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Data Pengguna Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-input type="text" placeholder="Nama Pengguna"></ion-input>
    </ion-item>

    <ion-card class="card-parent">
      <ion-card class="card-half">
        <ion-item>
          <div>
            <ion-icon name="calendar"></ion-icon>
          </div>
          <ion-datetime placeholder="Mulai"></ion-datetime>
        </ion-item>
      </ion-card>
      <ion-card class="card-half">
        <ion-item>
          <div>
            <ion-icon name="calendar"></ion-icon>
          </div>
          <ion-datetime placeholder="Selesai"></ion-datetime>
        </ion-item>
      </ion-card>
    </ion-card>
    <ion-row>
      <ion-col size-md="6" size-xs="12">
        <ion-button type="submit" color="success" expand="block"
          >Search</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="card-parent">
    <ion-card class="card-half">
      <ion-item routerLink="/data-pengguna-admin"> User </ion-item>
    </ion-card>
    <ion-card class="card-half">
      <ion-item routerLink="/log-lock-admin"> Lock </ion-item>
    </ion-card>
  </ion-card>
  <ion-card>
    <ion-card-header color="success">
      <ion-card-subtitle>Data Pengguna</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding-top: 1%" *ngFor="let user of allUser; ">
      <ion-list>
        <ion-item>
          <ion-avatar>
            <ion-icon name="person-circle"></ion-icon>
          </ion-avatar>
          {{user.nama}} <br />
          Tergabung sejak {{user.dateJoined}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
