<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Topup Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    class="form"
    [formGroup]="addTopUpAdmin"
    (ngSubmit)="tryTopUp(addTopUpAdmin.value)"
  >
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nomor Virtual Account</ion-label>
        <ion-input
          type="text"
          ngModel
          name="nomorVA"
          formControlName="nomorVA"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.nomorVA">
          <div
            class="error-message"
            *ngIf="addTopUpAdmin.get('nomorVA').hasError(validation.type) && (addTopUpAdmin.get('nomorVA').dirty || addTopUpAdmin.get('nomorVA').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Total TopUp</ion-label>
        <ion-input
          type="number"
          ngModel
          name="totalTopUp"
          formControlName="totalTopUp"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.totalTopUp">
          <div
            class="error-message"
            *ngIf="addTopUpAdmin.get('totalTopUp').hasError(validation.type) && (addTopUpAdmin.get('totalTopUp').dirty || addTopUpAdmin.get('totalTopUp').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-row>
      <ion-col size-md="6" size-xs="6">
        <ion-button type="submit" color="primary" expand="block"
          >Simpan</ion-button
        >
      </ion-col>
      <ion-col size-md="6" size-xs="6">
        <ion-button routerLink="/home-admin" color="danger" expand="block"
          >Cancel</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
