<ion-app>
  <ion-menu side="start" menuId="userMenu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="userMenu">
          <br />
          <ion-item>
            <ion-avatar>
              <img
                src="https://vignette.wikia.nocookie.net/naruto/images/0/09/Naruto_newshot.png/revision/latest/scale-to-width-down/340?cb=20170621101134"
              /> </ion-avatar
            >&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-list>
              <ion-label>Uzumaki Naruto</ion-label>
              <ion-label color="primary" routerLink="">Ubah Profil</ion-label>
            </ion-list>
          </ion-item>
        </ion-menu-toggle>
        <br />
        <ion-menu-toggle menu="userMenu">
          <ion-item lines="none" routerLink="/index">
            <ion-icon name="home-outline"></ion-icon>&nbsp;&nbsp;
            <ion-label>Halaman Utama</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="userMenu">
          <ion-item lines="none" routerLink="/kategori">
            <ion-icon name="pricetags-outline"></ion-icon>&nbsp;&nbsp;
            <ion-label>Atur Kategori</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="userMenu">
          <ion-item lines="none" routerLink="/history">
            <ion-icon name="timer-outline"></ion-icon>&nbsp;&nbsp;
            <ion-label>Riwayat</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="userMenu">
          <ion-item lines="none" routerLink="about-us">
            <ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;
            <ion-label>Tentang Kami</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
