<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="userMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tentang Kami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-md="2" size-xs="1"></ion-col>
      <ion-col size-md="4" size-xs="5">
        <ion-img src="assets/img/logoSDK.png"></ion-img>
      </ion-col>
      <ion-col size-md="4" size-xs="5">
        <ion-img src="assets/img/logoUMN.png"></ion-img>
      </ion-col>
      <ion-col size-md="2" size-xs="1"></ion-col>
    </ion-row>
  </ion-grid>
  <h3>
    Aplikasi ini dibangun oleh: <br>
    - Grendi Nugroho <br>
    - Jason Wenardi Hadinata <br>
    - Vincent <br>
    - Viriya Lucky <br><br>
    Universitas Multimedia Nusantara
  </h3>
</ion-content>
