ion-label, ion-icon{
    vertical-align: middle;
}

ion-card-content{
    background-color: white;
}

ion-item, ion-list {
    --ion-background-color: white;
}

.start-menu {
    text-align:center;
    align-items: center;
}