<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="userMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Halaman Utama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- saldo dan tombol lain -->
  <ion-card color="secondary">
    <ion-row>
      <ion-col size-md="6" size-xs="6">
        <ion-card color="light">
          <ion-card-header>
            <ion-card-subtitle>Saldo:</ion-card-subtitle>
            Rp. 850.000,-
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-md="2" size-xs="2" routerLink="/topup-user" class="start-menu">
        <ion-card-header>
          <ion-icon name="add-circle"></ion-icon>
        </ion-card-header>
        <ion-card-subtitle>Topup</ion-card-subtitle>
      </ion-col>
      <ion-col size-md="2" size-xs="2" routerLink="/payment" class="start-menu">
        <ion-card-header>
          <ion-icon name="card"></ion-icon>
        </ion-card-header>
        <ion-card-subtitle>Bayar</ion-card-subtitle>
      </ion-col>
      <ion-col size-md="2" size-xs="2" routerLink="/lock-user" class="start-menu">
        <ion-card-header>
          <ion-icon name="lock-closed"></ion-icon>
        </ion-card-header>
        <ion-card-subtitle>Kunci</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- end of saldo dan tombol lain -->

  <!-- Pemasukan -->
  <ion-card routerLink="/history">
    <ion-card-header color="primary">
      <ion-card-subtitle>Pemasukan</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding-top: 1%;">
      <ion-list>
        <ion-item>
          Thursday, 11 May 2020 <br>
          Saldo Bertambah Rp. 100.000,-
        </ion-item>
        <ion-item>
          Wednesday, 10 May 2020 <br>
          Saldo Bertambah Rp. 100.000,-
        </ion-item>
        <ion-item>
          Tuesday, 9 May 2020 <br>
          Saldo Bertambah Rp. 650.000,-
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- end of pemasukan -->

  <!-- pengeluaran -->
  <ion-card routerLink="/history">
    <ion-card-header color="danger">
      <ion-card-subtitle>Pengeluaran</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding-top: 1%;">
      <ion-list>
        <ion-item>
          Thursday, 11 May 2020 <br>
          Rekening A: Rp. 100.000,-
        </ion-item>
        <ion-item>
          Wednesday, 10 May 2020 <br>
          Rekening B: Rp. 100.000,-
        </ion-item>
        <ion-item>
          Tuesday, 9 May 2020 <br>
          Rekening C: Rp. 650.000,-
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- end of pengeluaran -->

  <!-- penguncian -->
  <ion-card routerLink="/history">
    <ion-card-header color="dark">
      <ion-card-subtitle>Penguncian</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding-top: 1%;">
      <ion-list>
        <ion-item>
          03 May 2020 - 11 May 2020 <br>
          Rp. 100.000,-
        </ion-item>
        <ion-item>
          02 May 2020 - 11 May 2020 <br>
          Rp. 100.000,-
        </ion-item>
        <ion-item>
          01 May 2020 - 11 May 2020 <br>
          Rp. 100.000,-
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- end of penguncian -->

</ion-content>
