<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink="/data-pengguna-admin">
    <ion-card-header color="success">
      <ion-card-subtitle>Data Pengguna</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding-top: 1%">
      <ion-list>
        <ion-item>
          <ion-avatar>
            <ion-icon name="person-circle"></ion-icon>
          </ion-avatar>
          Jason <br />
          Tergabung sejak 10 Agustus 2020
        </ion-item>
        <ion-item>
          <ion-avatar>
            <ion-icon name="person-circle"></ion-icon>
          </ion-avatar>
          Lucky <br />
          Tergabung sejak 10 Agustus 2020
        </ion-item>
        <ion-item>
          <ion-avatar>
            <ion-icon name="person-circle"></ion-icon>
          </ion-avatar>
          Grendi <br />
          Tergabung sejak 10 Agustus 2020
        </ion-item>
        <ion-item>
          <ion-avatar>
            <ion-icon name="person-circle"></ion-icon>
          </ion-avatar>
          Vincent <br />
          Tergabung sejak 10 Agustus 2020
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/log-lock-admin">
    <ion-card-header color="medium">
      <ion-card-subtitle>Log Lock Pengguna</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding-top: 1%">
      <ion-list>
        <ion-item>
          Lucky : 11 Agustus 2020 - 31 Agustus 2020 <br />
          Rp. 200.000,-
        </ion-item>
        <ion-item>
          Jason : 11 Agustus 2020 - 20 Agustus 2020 <br />
          Rp. 100.000,-
        </ion-item>
        <ion-item>
          Jason : 10 Agustus 2020 - 20 Agustus 2020 <br />
          Rp. 20.000,-
        </ion-item>
        <ion-item>
          Grendi : 10 Agustus 2020 - 31 Agustus 2020 <br />
          Rp. 200.000,-
        </ion-item>
        <ion-item>
          Vincent : 10 Agustus 2020 - 31 Agustus 2020 <br />
          Rp. 1.000.000,-
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/topup-admin">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
