<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>update-kategori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nama Kategori</ion-label>
        <ion-input type="text" ngModel name="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Maksimum Pengeluaran</ion-label>
        <ion-input type="text" ngModel name="max"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col size-md="6" size-xs="6">
        <ion-button type="submit" color="primary" expand="block"
          >Simpan</ion-button
        >
      </ion-col>
      <ion-col size-md="6" size-xs="6">
        <ion-button routerLink="/home-admin" color="danger" expand="block"
          >Cancel</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
