<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Log Lock Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card class="card-parent">
      <ion-card class="card-half">
        <ion-item>
          <div>
            <ion-icon name="calendar"></ion-icon>
          </div>
          <ion-datetime
            placeholder="Mulai"
            [(ngModel)]="startDate"
            (ionChange)="loadResults()"
          ></ion-datetime>
        </ion-item>
      </ion-card>
      <ion-card class="card-half">
        <ion-item>
          <div>
            <ion-icon name="calendar"></ion-icon>
          </div>
          <ion-datetime
            placeholder="Selesai"
            [(ngModel)]="endDate"
            (ionChange)="loadResults()"
          ></ion-datetime>
        </ion-item>
      </ion-card>
    </ion-card>
  </ion-card>

  <ion-card class="card-parent">
    <ion-card class="card-half">
      <ion-item routerLink="/data-pengguna-admin"> User </ion-item>
    </ion-card>
    <ion-card class="card-half">
      <ion-item routerLink="/log-lock-admin"> Lock </ion-item>
    </ion-card>
  </ion-card>

  <ion-card>
    <ion-card-content style="padding-top: 1%">
      <ion-list *ngFor="let lock of allLock">
        <ion-item> UID: {{lock.uid}} </ion-item>
        <ion-item lines="none">
          <ion-datetime
            value="{{ lock.dateStart }}"
            displayFormat="DD MMM YYYY"
          ></ion-datetime>
          &nbsp;-&nbsp;
          <ion-datetime
            value="{{ lock.dateLock }}"
            displayFormat="DD MMM YYYY"
          ></ion-datetime>
        </ion-item>
        <ion-item>Nominal: Rp. {{ lock.saldoLock }},-</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
